* {
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "sans serif";
}
#scoreprint {
    border: 1px solid black;
    padding: 10px;
    background-color: lightgrey;
    font-size: 30px;
}
#scoreprint h2 {
    margin: 0;
    width: 40%;
    font-weight: normal;
    display: inline-block;
    position: relative;
}
#scoreprint h2.current {
    font-weight: bold;
    padding-left: 15px;
}
#scoreprint h2.current::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #ff0000;
}
#scoreprint span {
    font-weight: bold;
    display: inline-block;
    width: 10%;
}
#scoreprint div.score span {
    color: red;
}
#scoreprint div {
    display: inline-block;
}
#scoreprint div.score {
    width: 80%;
}
#scoreprint div.average {
    width: 20%;
}
#scoreprint div.cigare {
    height: 100%;
    width: 50%;
}
#scoreprint div.cigare div {
    margin-right: 15px;
}
#scoreprint div.cigare div span {
    display: inline-block;
    height: 30px;
    width: 6px;
    border-radius: 2px;
    margin-right: 5px;
    border: 1px solid grey;
}
#scoreprint div.cigare div span.fill {
    background-color: red;
}


/* Cricket */
#scoreprint table thead th {
    padding: 10px 20px 0;
}
#scoreprint table thead th.current {
    position: relative;
    font-weight: bold;
}
#scoreprint table thead th.current::before {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ff0000 transparent transparent;
}
#scoreprint table tbody th {
    text-align: right;
}
#scoreprint table td {
    text-align: center;
    padding: 0 20px;
    position: relative;
}
#scoreprint table td .bar {
    border: 2px solid red;
    display: inline-block;
    height: 1.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
}
#scoreprint table td .bar.bar-one {
    transform:
        translate(-50%, -50%)
        rotate(45deg);
}
#scoreprint table td .bar.bar-two {
    transform:
        translate(-50%, -50%)
        rotate(135deg);
}
#scoreprint table td .bar.bar-open {
    width: 1em;
    height: 1em;
    border-radius: .5em;
    border-width: 4px;
    transform: translate(-50%, -50%);
}
#scoreprint tfoot {
    background-color: gray;
    color: whitesmoke;
}
