* {
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "sans serif";
}
#scoreprint {
    padding: 10px;
    font-size: 30px;
    height:400px;
    /*background-image:url("img/test.png");
    background-size:cover; */
    background-image: linear-gradient(#e0e0de, white);
}
#scoreprint h2 {
    margin: 0;
    width: 40%;
    font-weight: normal;
    display: inline-block;
    position: relative;
}
#scoreprint h2.current {
    font-weight: bold;
    padding-left: 15px;
}
#scoreprint h2.current::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #ff0000;
}
#scoreprint span {
    font-weight: bold;
    display: inline-block;
    width: 10%;
}
#scoreprint div.score span {
    color: red;
}
#scoreprint div.score span.suggestion {
    color: black;
    font-size: 0.5em;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: right;
    padding-right: 10px;
    background-color: gray;
    word-spacing: 5px;
}
#scoreprint div {
    display: inline-block;
}
#scoreprint div.score {
    width: 80%;
}
#scoreprint div.average {
    width: 20%;
}
#scoreprint div.cigare {
    height: 100%;
    width: 40%;
}
#scoreprint div.cigare div {
    margin-right: 15px;
}
#scoreprint div.cigare div span {
    display: inline-block;
    height: 30px;
    width: 6px;
    border-radius: 2px;
    margin-right: 5px;
    border: 1px solid grey;
}
#scoreprint div.cigare div span.fill {
    background-color: red;
}


/* Cricket */
#scoreprint table thead th {
    padding: 10px 20px 0;
}
#scoreprint table thead th.current {
    position: relative;
    font-weight: bold;
}
#scoreprint table thead th.current::before {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ff0000 transparent transparent;
}
#scoreprint table tbody th {
    text-align: right;
}
#scoreprint table td {
    text-align: center;
    padding: 0 20px;
    position: relative;
}
#scoreprint table td .bar {
    border: 2px solid red;
    display: inline-block;
    height: 1.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
}
#scoreprint table td .bar.bar-one {
    transform:
        translate(-50%, -50%)
        rotate(45deg);
}
#scoreprint table td .bar.bar-two {
    transform:
        translate(-50%, -50%)
        rotate(135deg);
}
#scoreprint table td .bar.bar-open {
    width: 1em;
    height: 1em;
    border-radius: .5em;
    border-width: 4px;
    transform: translate(-50%, -50%);
}
#scoreprint tfoot {
    background-color: gray;
    color: whitesmoke;
}
/* ---fut---fut---fut---fut---fut---fut---
   bullshit above, the fun starts here !!
   ---fut---fut---fut---fut---fut---fut--- */
body {
    margin: 0;
}

#titlecontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: red;
    background-color: lightgrey;
    text-align: center;
    margin: auto;
    background-image: url("img/banner.jpg");
    height: 100px;
    background-size: cover;
    text-shadow: 3px 2px black;
    font-size: 2em;
}

main {
    border-bottom: 5px solid #969696;
    border-radius: 5px;
}

main,
#troiscentun,
#cricket {
    display: flex;
    flex: 2;
}

/* player add */

#playercontrol {
    flex: 1;
    position: relative;
    overflow: hidden;
}

#playercontrol img {
    position: absolute;
    width: 160%;
    z-index: -1;
    transition: 0.5s;
}

#playercontrol:hover img {
    transform: scale(1.05);
    filter: blur(2px);
}

#addplayer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

/* general control */

.control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex: 1;
}

.control img {
    width: 150px;
}

/* 301 parameter */

#troiscentun {
    background-color: lightblue;
}

#troiscentun label {
    transition: 0.5s;
}

#checkboxdoubleout:checked ~ label {
    transform: scale(1.3);
    color: #b71a30;
}

#startgameButton{
    font-size: 1.5em;
    background-color: #b71a30;
    color: black;
    border: 2px solid #b71a30;
    border-radius: 10px;
}

/* cricket parameter */

#cricket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #a1ffac;
}

#cricket img {
    transition:0.5s;
}

#checkboxreverse:checked ~ img {
    transform: scaleX(-1);
    transform: scaleY(-1);
}

#startcricketButton {
    font-size: 1.5em;
    background-color: #2e5131;
    color: white;
    border: 2px solid #2e5131;
    border-radius: 10px;
}

@keyframes wobble {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

#checkboxcrazy:checked ~ img {
    animation: wobble 2s infinite;
}

/* footer : score input */

#scorecontrol {
    display: flex;
    justify-content: space-around;
}

#controlcricket,
#controltrois {
    display: flex;
}

#scoreform,
#scoreformcricket {
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    padding-right:40px;
}

#controletrois {

}

#inputscore {
    border: 2px solid grey;
    border-radius: 4px;
    height: 50px;
    font-size: 100%;
    background-color: #add8e6;
    text-align: center;
}

#validtrois,
#validcricket {
    background-image: url('img/score.png');
    background-size: cover;
    height: 150px;
}

#buttonnextplayer,
#buttonnextplayercricket{
    background-image: url('img/next.png');
    background-size: cover;
    width: 200px;
}

#inputscorecricket {
    border: 2px solid grey;
    border-radius: 4px;
    height: 50px;
    font-size: 100%;
    background-color: #a1ffac;
    text-align: center;
}
