<h2>{{ gameTitle }}</h2>

<div id="scoreprint">

  <table>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let player of computer.players" [ngClass]="{current: player === computer.currentPlayer}">{{ player.name }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let target of computer.targets">
        <th>{{ target }}</th>
        <td *ngFor="let player of computer.players">
          <span *ngIf="player.getTargetState(target) > 0" class="bar bar-one"></span>
          <span *ngIf="player.getTargetState(target) > 1" class="bar bar-two"></span>
          <span *ngIf="player.getTargetState(target) > 2" class="bar bar-open"></span>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Score</th>
        <td *ngFor="let player of computer.players">{{ player.score }}{{ player.finished ? " (" + player.rankComputed + ")" : ""}}</td>
      </tr>
    </tfoot>
  </table>
  
</div>

<div *ngIf="computer.isGameFinished" class="revenge-wrapper">
  <div class="button-wrapper">
    <button (click)="launchRevenge()">Faire la revenche</button>
  </div>
  <ul>
    <li>
      <input id="rad-loser-first" name="revenge-type" type="radio" [formControl]="revengeType" value="LOSER_FIRST" />
      <label for="rad-loser-first">Perdant en premier</label>
    </li>
    <li>
      <input id="rad-winner-first" name="revenge-type" type="radio" [formControl]="revengeType" value="WINNER_FIRST" />
      <label for="rad-winner-first">Gagnant en premier</label>
    <li>
      <input id="rad-random" name="revenge-type" type="radio" [formControl]="revengeType" value="RANDOM" />
      <label for="rad-random">Ordre aléatoire</label>
    </li>
    <li>
      <input id="rad-same-order" name="revenge-type" type="radio" [formControl]="revengeType" value="SAME_ORDER" />
      <label for="rad-same-order">Même ordre</label>
    </li>
  </ul>
</div>
