<div id="input-player-container">
  <h2>Sélection des joueurs</h2>
  
  <form>
    <input id="input-name" type="text" [(ngModel)]="playerName" [ngModelOptions]="{standalone: true}" placeholder="Ajouter un joueur" />
    <button type="submit" (click)="onSubmitNewPlayer()">OK</button>
  </form>

  <p-pickList 
      [source]="availablePlayers" 
      [target]="selectedPlayers" 
      sourceHeader="Joueurs disponibles"
      targetHeader="Joueurs sélectionnés" 
      [dragdrop]="true" 
      [responsive]="true" 
      [sourceStyle]="{ height: '30rem' }" 
      [targetStyle]="{ height: '30rem' }" 
      breakpoint="900px"
      (onMoveToTarget)="updateSelectedPlayers()"
      (onMoveToSource)="updateSelectedPlayers()"
      (onMoveAllToSource)="updateSelectedPlayers()"
      (onMoveAllToTarget)="updateSelectedPlayers()">
      <ng-template let-player pTemplate="item">
      <div>
        <!-- <span>{{ player }}</span> -->
        <span>{{ player.name }}</span>
      </div>
    </ng-template>

    <!-- <ng-template let-product pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
          <img class="w-4rem shadow-2 flex-shrink-0 border-round" src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" alt="{item.name}" />
          <div class="flex-1 flex flex-column gap-2">
              <span class="font-bold">{{ product.name }}</span>
              <div class="flex align-items-center gap-2">
                  <i class="pi pi-tag text-sm"></i>
                  <span>{{ product.category }}</span>
              </div>
          </div>
          <span class="font-bold text-900">{{ '$' + product.price }}</span>
      </div>
  </ng-template> -->
  </p-pickList>
</div>