#input-player-container {
  padding: 10px;

  h2 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: row;

    #input-name {
      flex: 1;
      display: inline-block;
      line-height: 2em;
      font-size: 2em;
    }

    button {
      padding: 10px;
      background-color: green;
      color: whitesmoke;
      outline: none;
      font-size: 2em;
      border: none;
      cursor: pointer;
      margin-left: 5px;

      &:hover {
        border: 2px solid rgb(30, 100, 30);
      }
    }
  }
}