$game_launcher_internal_radius: 30px;
$game_launcher_external_radius: 8px;
$game_laucher_bordercolor: #444;
$game_laucher_backgroundcolor_start: #F27B6A;
$game_laucher_backgroundcolor: #F9E8CD;

$game_selector_backgroundcolor_start: #CBE1EC;
$game_selector_backgroundcolor: #CBECE4;

$porte_de_garage_color: #B2D0C9;
$porte_de_garage_shadowcolor: #859C97;

$button_color: #3D907F;

$game_button_background_color: #EA565A;
$game_button_border_color: #EA565A;
