$game_launcher_internal_radius: 30px;
$game_launcher_external_radius: 8px;
$game_laucher_bordercolor: #444;
$game_laucher_backgroundcolor_start: #F27B6A;
$game_laucher_backgroundcolor: #F9E8CD;

$game_selector_backgroundcolor_start: #CBE1EC;
$game_selector_backgroundcolor: #CBECE4;

$porte_de_garage_color: #B2D0C9;
$porte_de_garage_shadowcolor: #859C97;

$button_color: #3D907F;
$button_hover_border_color: rgb(30, 100, 30);
$disabled_button_color: #9b9a99;

$game_button_background_color: #EA565A;
$game_button_border_color: rgb(185, 22, 60);
$game_option_button_background_color: #fcbf6a;
$game_option_button_border_color: #f5940c;

$rules_background_color: #111;
$rules_text_color: whitesmoke;

$X01_background_color_start: $game_laucher_backgroundcolor_start;
$X01_background_color_end: $game_laucher_backgroundcolor;
$X01_current_player_background_start: #5472d4;
$X01_current_player_background_end: #b1c0f1;
$X01_score_text_color: $game_button_border_color;
