@use '../../../variables';

#input-player-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;

  h2 {
    text-align: center;
  }

  form {
    display: flex;

    #input-name {
      flex: 1;
      display: inline-block;
      line-height: 2em;
      font-size: 2em;
    }

    button {
      padding: 10px;
      background-color: variables.$button_color;
      color: whitesmoke;
      outline: none;
      font-size: 2em;
      border: none;
      cursor: pointer;
      margin-left: 5px;
      min-width: 2em;

      &:hover {
        border: 2px solid rgb(30, 100, 30);
      }
    }
  }

  ::ng-deep p-picklist {
    flex: 1;
    overflow: hidden; 
    display: flex;
    margin-top: 15px;

    .p-picklist {
      flex: 1;

      .p-picklist-list-wrapper {
        display: flex;
        flex-direction: column;
        
        .p-picklist-list {
          flex: 1 0 50%;
        }
      }

      .p-picklist-source-wrapper {
        .p-picklist-item:hover > div p-button {
          visibility: visible;
          opacity: 1;
          transition: 
              opacity .4s ease-out 1s,
              visibility 0s 1s;
        }
      }
    }

    .p-picklist-item {
      border-radius: 6px;
      border: 2px solid #ccc;

      > div {
        display: flex;
        align-items: center;

        span {
          flex: 1;
        }

        p-button {
          visibility: hidden;
          opacity: 0;
          transition: all 0s 0s;

          button {
            background-color: #EF4444;
            border: 1px solid #EF4444;

            &:hover {
              background: #DC2626;
              border-color: #DC2626;
            }
          }
        }
      }
    }
  }
}
