@use "../variables";

header {
  background-color: rgb(80, 60, 90);
  color: whitesmoke;
  padding: 10px;

  h1 {
    margin: 0;
    text-align: center;
  }
}

main {
  width: 100%;
  flex: 1;
  padding: 10px;

  .game-launcher {
    width: 100%;
    height: 100%;
    display: flex;

    & > * {
      position: relative;
      flex: 1;
      display: block;
      height: 100%;
      background: linear-gradient(to right, #eee, variables.$game_laucher_backgroundcolor);
      border-color: variables.$game_laucher_bordercolor;
      border-style: solid;
    }

    app-player-list {
      border-width: 3px;
      border-radius: 
          variables.$game_launcher_external_radius
          variables.$game_launcher_internal_radius
          variables.$game_launcher_internal_radius
          variables.$game_launcher_external_radius;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 20px; height: 20px;
        border-style: solid;
        border-width: 3px 3px 0 0;
        border-color: variables.$game_laucher_bordercolor;
        transform: 
          rotate(45deg)
          translateX(100%);
        transform-origin: left;
        background-color: variables.$game_laucher_backgroundcolor;
      }
    }


    app-player-list {
      // flex: 1;
      z-index: 200;
    }

    app-game-selector {
      // flex: 2;
      margin-left: 0 - variables.$game_launcher_internal_radius;
      padding-left: variables.$game_launcher_internal_radius;
      z-index: 100;
      border-radius: 0px variables.$game_launcher_external_radius variables.$game_launcher_external_radius 0px;
      border-width: 3px 3px 3px 0;
    }
  }

  .game {
    max-width: 1000px;
    margin: auto;
  }
}

footer {
  text-align: center;
}