@use "../variables";

header {
  background-color: rgb(80, 60, 90);
  color: whitesmoke;
  padding: 10px;

  h1 {
    margin: 0;
    text-align: center;
  }
}

main {
  width: 100%;
  flex: 1;
  overflow: hidden;
  padding: 10px;

  .game-launcher {
    height: 100%;
    display: flex;

    & > * {
      position: relative;
      flex: 1;
      display: block;
      height: 100%;
      border-color: variables.$game_laucher_bordercolor;
      border-style: solid;
    }
    
    app-players-selector {
      z-index: 200;
      border-width: 3px;
      border-radius: 
          variables.$game_launcher_external_radius
          variables.$game_launcher_internal_radius
          variables.$game_launcher_internal_radius
          variables.$game_launcher_external_radius;
      background: linear-gradient(to right, variables.$game_laucher_backgroundcolor_start, variables.$game_laucher_backgroundcolor);
      
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 20px; height: 20px;
        border-style: solid;
        border-width: 3px 3px 0 0;
        border-color: variables.$game_laucher_bordercolor;
        transform: 
        rotate(45deg) 
        translateX(20%) 
        translateY(-45%);
        transform-origin: right;
        background-color: variables.$game_laucher_backgroundcolor;
      }
    }
    
    app-game-selector {
      margin-left: 0 - variables.$game_launcher_internal_radius;
      z-index: 100;
      background: linear-gradient(to right, variables.$game_selector_backgroundcolor_start, variables.$game_selector_backgroundcolor);
      border-radius: 0px variables.$game_launcher_external_radius variables.$game_launcher_external_radius 0px;
      border-width: 3px 3px 3px 0;
      overflow: hidden;
    }
  }

  .game {
    max-width: 1000px;
    margin: auto;
  }
}

footer {
  text-align: center;
}